.result-container{
    height: 100%;
}

.posts-container{
    height: 69%;
    background-color: #eaebf0;
}

.graph-container{
    height: 45%;
    // border-bottom: 1px solid black;
    background: -webkit-gradient(linear,left top,right top,from(#0c2646),color-stop(60%,#204065),to(#2a5788));
    background: linear-gradient(90deg,#0c2646 0,#204065 60%,#2a5788);}